body.auth { background-color: #fff }

.lc-block { background-color: #f7f7f7 !important }

#l-login { text-align: left !important }

#l-login .checkbox { margin-left: 0 !important }

#l-login .form-control { background-color: #f7f7f7; border-bottom-right-radius: 0; border-bottom-left-radius: 0 }

.logo { display: inline-block }

#header-logo { font-weight: 900; margin-top: -6px; font-size: 24px; text-shadow: 2px 2px 0 rgba(0, 0, 0, .2) }

.wip-item { cursor: pointer }

.cursor { cursor: default }

@media (max-width: 768px) {
	#l-login { padding: 20px !important }
}

.brand { font-family: Yellowtail, arial, serif, cursive }

.brand.light { color: #fff }

.brand.dark { color: #000 }

.brand.logo { margin: 0; width: 100px; text-transform: none }

.brand.logo-sidebar{
	position:relative;
	top: -6px;
}