@import '../easel';

// General Styles

.folder-paths li {
  color: rgb(10, 110, 189) !important;
}

.cl {
  height: 45px;
  margin-top: -11px;
}

.cl-center {
  position: absolute !important;
  height: 45px;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;

  @media (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    display: none !important;
  }
  @media (min-width: 1200px) {
    display: none !important;
  }
}

// Error Styling

.help-block-error {
  display: none !important;
}

// Labels

.label-totals {
  float: right;
}

// Full Screen SimpleMde updates to the z-index so that it sits above the title-bar
.editor-toolbar.fullscreen {
  z-index: 99;
}

.CodeMirror-fullscreen {
  z-index: 99;
}

.editor-preview-side.editor-preview-active-side {
  z-index: 99;
  img {
    @extend .img-responsive;
  }
}

.editor-preview {
  img {
    @extend .img-responsive;
  }
}

.editor-statusbar {
  z-index: 99;
}

.CodeMirror {
  height: 60vh;

  &.CodeMirror-fullscreen {
    max-height: none;
  }

  &.CodeMirror-scroll {
    max-height: none;
  }
}

.fade-transition {
  transition: all .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
  height: 0;
}

#logo{
  color: #2196f3;
}

// File Uploader Styles
#easel-file-picker {

  .easel-file-browser {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 200px;
    padding: 1rem;
    width: auto;

    &.modal-dialog{
      margin-top: 6rem;
    }

    .modal-header {
      border-bottom: 1px solid rgb(240, 240, 240);
    }

    .modal-footer {
      border-top: 1px solid rgb(240, 240, 240);

      &.vertical-center {

        .item-count {
          flex: 1 0 0;
          text-align: left;
        }
        .buttons {
          flex: 4 0 0;
        }
      }

    }

    #easel-file-browser {
      .breadcrumb {
        padding: 20px 8px;
      }
    }

    .word-wrappable {
      word-wrap: break-word;
    }

    .easel-file-picker-list {
      height: calc(70vh - 10rem);
      overflow-y: scroll;

      .table {
        tbody {
          tr {
            &:last-child {
              td {
                padding-bottom: 7px;
              }
            }

            td {
              transition: background-color 0.15s ease-in-out 0.05s;
              padding-left: 7px;
            }

            th {
              &:first-child {
                padding-left: 7px;
              }
            }
          }
        }
      }

    }

    .easel-file-picker-sidebar {
      height: calc(70vh - 10rem);
      overflow-y: auto;
      border-left: 1px solid rgb(240, 240, 240);
    }

    .easel-file-picker-preview-table {
      margin-top: 1em;

      td {
        border-width: 0;

        &.description {
          text-transform: uppercase;
          font-weight: 500;
        }

        &.file-value {
          word-break: break-all;
        }
      }
    }
  }
}