@import '../easel';

// General Styles

.folder-paths li {
  color: rgb(10, 110, 189) !important;
}

.breadcrumb {
  padding-left: 0 !important;
}

.cl {
  height: 45px;
  margin-top: -11px;
}

.cl-center {
  position: absolute !important;
  height: 45px;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;

  @media (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    display: none !important;
  }
  @media (min-width: 1200px) {
    display: none !important;
  }
}

// Error Styling

.help-block-error {
  display: none !important;
}

// Labels

.label-totals {
  float: right;
}

// Full Screen SimpleMde updates to the z-index so that it sits above the title-bar
.editor-toolbar.fullscreen{
  z-index: 99;
}

.CodeMirror-fullscreen{
  z-index: 99;
}

.editor-preview-side.editor-preview-active-side{
  z-index: 99;
  img{
    @extend .img-responsive;
  }
}

.editor-preview
{
  img{
    @extend .img-responsive;
  }
}

.editor-statusbar{
  z-index: 99;
}

// File Uploader Styles
#easel-file-browser{
  .word-wrappable {
    word-wrap: break-word;
  }
}

.easel-adaptive-modal{
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 600px;
  padding: 50px;
  width: 100%;

  .easel-file-picker-list{
    height: calc(80vh - 100px);
    overflow-y : scroll;
  }

  .easel-file-picker-sidebar{
    height: calc(80vh - 100px);
    overflow-y : auto;
    border-left: 1px solid rgb(240, 240, 240);
  }

  .easel-file-picker-preview-table{
    margin-top: 1em;

    td {
      border-width: 0;

      &.description{
        text-transform: uppercase;
        font-weight: 500;
      }

      &.file-value{
        word-break: break-all;
      }
    }
  }

}