// Full Screen SimpleMde updates to the z-index so that it sits above the title-bar
.editor-toolbar.fullscreen {
  z-index: 99;
  top: 70px;
}

.CodeMirror-fullscreen {
  z-index: 99;
  top: 120px;
}

.editor-toolbar.fullscreen {
  &::after {
    background: none;
  }
  &::before {
    background: none;
  }
}

.editor-preview-side.editor-preview-active-side {
  z-index: 99;
  top: 120px;
  img {
    @extend .img-responsive;
  }
}

.editor-preview {
  img {
    @extend .img-responsive;
  }
}

.editor-statusbar {
  z-index: 99;
}

.CodeMirror {
  height: 60vh;

  &.CodeMirror-fullscreen {
    max-height: none;
  }

  &.CodeMirror-scroll {
    max-height: none;
  }
}

// Date Picker overrides...

.datepicker {
  table {
    thead {
      tr {
        th {
          border-radius: 0;
          color: #fff;
          .glyphicon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 29px
          }

          &.picker-switch {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
          }

          &:hover {
            .glyphicon {
              background: rgba(0, 0, 0, .2)
            }
          }

        }

        &:first-child {
          th {
            background: #2196f3; padding: 20px 0;
            &:hover {
              background: #2196f3;
            }
          }
        }

        &:last-child {
          th {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
          }
        }

      }
    }
  }
}

.datepicker table thead tr:last-child th:first-child { padding-left: 20px }

.datepicker table thead tr:last-child th:last-child { padding-right: 20px }

.datepicker table thead tr:last-child:not(:only-child) { background: #1d7dcc }

.datepicker table tbody tr:last-child td { padding-bottom: 25px }

.datepicker table tbody tr td:first-child { padding-left: 13px }

.datepicker table tbody tr td:last-child { padding-right: 13px }

.datepicker table td.day { width: 35px; height: 35px; line-height: 20px; color: #333; position: relative; padding: 0; background: 0 0 }

.datepicker table td.day:hover { background: 0 0 }

.datepicker table td.day:before { content: ""; width: 35px; height: 35px; border-radius: 50%; margin-bottom: -33px; display: inline-block; background: 0 0; position: static; text-shadow: none }

.datepicker table td.day.new, .datepicker table td.day.old { color: #cdcdcd }

.datepicker table td:not(.today):not(.active):hover:before { background: #f0f0f0 }

.datepicker {
  table {
    td {
      &.today {
        color: #333;
        &:before {
          background-color: #e2e2e2;
        }
      }

      &.active {
        color: #fff;
        &:before {
          background-color: #2196f3;
        }
      }
    }
  }
}
