.folder-paths li {
  color: rgb(10, 110, 189) !important;
}

.cl {
  height: 45px;
  margin-top: -11px;
}

.cl-center {
  position: absolute !important;
  height: 45px;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;

  @media (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    display: none !important;
  }
  @media (min-width: 1200px) {
    display: none !important;
  }
}

// Error Styling

.help-block, .error-help-block {
  display: none !important;
  margin-bottom: 0;
  margin-top: 0;
}

.has-success {
  margin-top: 0;
}

// Labels

.label-totals {
  float: right;
}


.fade-transition {
  transition: all .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
  height: 0;
}

#logo {
  color: #2196f3;
}

#top-link-block {
  &.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
    z-index: 100;
  }

  &.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
  }

  a.btn {
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 10px;
  }

}

.vertical-center {
  display: flex;
  align-items: center;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.post-subtitle {
  margin-top: -20px;
}

.easel-post {
  img {
    @extend .img-responsive;
  }
}

.profile-info {

  h5 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
  p {
    margin: 0.5rem 0;
  }
}

.bootgrid-header .actionBar {
  text-align: left;
}

.breadcrumb {
  background-color: transparent;
}

.input-group-addon {
  background-color: transparent;
}

