@import "easel";

/* Full Screen SimpleMde updates to the z-index so that it sits above the title-bar */
.editor-toolbar.fullscreen{
  z-index: 99;
}

.CodeMirror-fullscreen{
  z-index: 99;
}

.editor-preview-side.editor-preview-active-side{
  z-index: 99;
  img{
    @extend .img-responsive;
  }
}

.editor-preview
{
  img{
    @extend .img-responsive;
  }
}

.editor-statusbar{
  z-index: 99;
}

/* File Uploader Styles */
#easel-file-browser{
  .word-wrappable {
    word-wrap: break-word;
  }
}
