// Backend Primary Colour...
$brand-primary: #2196f3;

// Scroll to top button styles
#top-link-block{
  &.affix-top{
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
    z-index: 100;
  }

  &.affix{
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
  }

  a.btn{
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 10px;
  }

  @media only screen and (max-width: 680px) {
    right: calc(50% - 4em);
  }

}

.vertical-center {
  display: flex;
  align-items: center;
}

.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}

.post-subtitle{
  margin-top: -20px;
}

.easel-post{
  img{
    @extend .img-responsive;
  }
}

.profile-info{

  h5{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
  p{
    margin:0.5rem 0;
  }
}